.title {
  text-align: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Room {
  margin: 5px;
  padding: 10px;
  background-color: rgb(226, 179, 179);
  border-radius: 8px;
  border: 1px solid black;
}
